NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_BASEMAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_BASEMAP_ATTRIBUTION=&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
